.post-content p {
  text-align: justify;
  text-justify: inter-word;
}

@media (max-width: 600px) {
  .post-content p {
    hyphens: auto;
  }
}

.no-justify {
  text-align: initial;
  text-justify: none;
  hyphens: none;
}
